body {
  background: #DDD;
  background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(0,0,0,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 0;
  margin: 0;
  font-family: 'Host Grotesk';
}

main > .container{
  background: $white;
}

.mobile-only {
  @include bp(desktop){
    display: none !important;
  }
}

header {
  padding: 30px;
  background: #666;
  nav {
    .header-content {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;

    }
    .branding {

      img {
        width: 100px;
      }
    }
    .contact {
      color: $white;  
      text-align: right;
      font-size: 22px;
      line-height: 1.1em;
      span {
        display: block;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.15em;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: solid 1px rgba(255,255,255,0.5);
      }
      a {
        color: $white;
        font-size: 16px;
      }
    }
  }
}

.page-template-template-home-2025 {
  .services {
    margin-top: 30px;
    a {
      &:hover {
        text-decoration: none;
        h2 {
          background: #333;
        }
      }
    }
    .exterior {
      padding-right: 1px;
      @include bp(mobile){
        padding-right: 15px;
      }

    }
    .interior {
      padding-left: 1px;
      @include bp(mobile){
        padding-right: 15px;
      }
    }
    img {
      width: 100%;
      position: relative;
    }
    h2 {
      background: #666;
      color: $white;
      text-align: center;
      margin-top: 0;
      padding: 30px 0;
      font-size: 33px;
      font-weight: 300;
      letter-spacing: -0.02em;
    }
    ul {
      //padding-left: 20px;
      li {
        color: #333;
      }
    }
  }
}

footer {
  padding: 50px 0;
  background: $white;
  border-top: solid 20px #AAA;
  .footer-areas {
    display: flex;
    flex-flow: row;
    justify-content: space-between;  
    @include bp(mobile){
      flex-flow: column;
      text-align: center;
    }
  
  }
  .footerlinks {
    font-size: 16px;
    font-weight: 600;
    @include bp(mobile){
      width: 100%;
      margin-bottom: 30px;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
  .certifications {
    display: flex;
    flex-flow: row;
    justify-content: right;
    @include bp(mobile){
      flex-flow: row wrap;
      justify-content: center;
      width: 100%;
    }
    img {
      height: 105px;
      width: auto;
      margin-left: 30px;
      @include bp(mobile){
        height: 65px;
        margin-left: 0;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
      }      
    }
    img.fb {
      height: 75px;
      margin-top: 15px;
      @include bp(mobile){
        width: auto;
        margin-top: 0;
      }

    }
  }
  a {
    color: $black90;
    &:hover {
      color: $tomato;
      text-shadow: none;
    }
  }
}

.wp-caption {
  background: $black15;
  padding: 10px;
  max-width: 100%;
  border-radius: 3px;
  p {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  img {
  }
}

.project-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .item {
    width: 100%;
    background: #ccc;
    min-height: 100px;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 15px;
    a {
      display: block;
    }
    img {
      width: 100%;
    }
    .project-gallery-hidden {
      display: none;
    }
  }
}

.owl-carousel .owl-item img {
  height: auto;
  @include bp(mobile){
    height: auto;
  }
}
